/* Reset some basic elements */
html, body, div, form, input, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Use a full-screen background with a gradient */
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #696969, #E8E8E8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
 /* Apply the same styles for the navbar as in proposal.css */
 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed; /* Change to fixed position */
    top: 0;
    left: 0; /* Set left to 0 to cover the entire width */
    right: 0; /* Set right to 0 to cover the entire width */
    z-index: 100; /* Add a z-index to ensure it's above other content */
  }
  
  .logo {
    width: 75px;
    height: 56.25px;
  }
  
  .nav-links {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .auth-buttons {
    display: flex;
  }
  
  .auth-button {
    margin-right: 20px;
  }
  
  .auth-button button {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    color: black;
  }

  .register-image {
    max-width: 65%;
    height: auto;
    margin-top: 60px; /* Adjust the top margin as needed */
    float: right; /* Float the image to the right */
    clear: both; /* Clear the float to avoid overlapping */
}
  
  /* Style the register container */
  .register-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 80%;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 100px;
    float: left;
  }
  
  /* Style the form elements */
  .register-form {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .register-form .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .register-form .form-group label {
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .register-form .form-group input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  /* Style the text fields */
  #name, #phone, #address, #email, #password {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  
  /* Style the register button */
  button {
    padding: 15px;
    background: #808080;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #696969;
  }
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .register-container {
      width: 90%;
      padding: 30px;
    }
  }
  