/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

.logo {
    width: 75px;
    height: 56.25px;
}

.nav-links {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

.auth-buttons {
    display: flex;
}

.auth-button {
    margin-right: 20px;
}

.auth-button button {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

/* Hero Section Styles */
.hero {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* Projects Section Styles */
.content {
    padding: 80px 20px;
}

.projects-section {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

.project-item {
    display: flex;
    margin-bottom: 40px;
}

.project-item img {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.project-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.category-tag {
    background-color: #F4F4F4;
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding: 4px 8px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
}

.project-summary {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.more-button {
    padding: 12px 24px;
    background-color: black;
    color: white;
    cursor: pointer;
    display: inline-block;
}

/* CTA Section Styles */
.cta-section {
    background-color: white;
    padding: 80px 20px;
    text-align: center;
}

.cta-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.cta-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
}

.cta-button {
    padding: 12px 24px;
    margin-right: 20px;
    cursor: pointer;
}

.submit-button {
    background-color: black;
    color: white;
}

.learn-more-button {
    border: 1px solid black;
    background-color: white;
    color: black;
}
