/* Reset some basic elements */
html, body, div, form, input, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Use a full-screen background with a gradient */
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #696969, #E8E8E8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  /* Style the image */
.login-image {
    max-width: 65%;
    height: auto;
    margin-top: 20px; /* Adjust the top margin as needed */
    float: right; /* Float the image to the right */
    clear: both; /* Clear the float to avoid overlapping */
    margin-left: -60px;
}
  
  /* Style the form container with a glass effect */
  .login-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 100%;
    margin-top: 60px; /* Adjust the top margin to create space between form and image */
    margin-left: 60px;
    margin-right: -40px;
    float: left; /* Float the login form to the left */
  }
  
  /* Style the form elements */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-form .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .login-form .form-group label {
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .login-form .form-group input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  /* Style the email and password fields */
  #email, #password {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  
  /* Style the remember me checkbox */
  .form-remember {
    display: flex;
    align-items: center;
  }
  
  .form-remember input[type='checkbox'] {
    margin-right: 10px;
  }
  
  .form-remember label {
    color: #ffffff;
    cursor: pointer;
  }
  
  /* Style the login button */
  button {
    padding: 15px;
    background: 		#808080;
    color: #ffffff;
    border: none;
    cursor: pointer;

  }
  
  button:hover {
    background: 	#696969;
  }
  
  /* Style the forgot password link */
  .forgot-password {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    transition: color 0.3s ease;
  }
  
  .forgot-password:hover {
    color: 		#008080;
  }
  /* Apply the same styles for the navbar as in proposal.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed; /* Change to fixed position */
    top: 0;
    left: 0; /* Set left to 0 to cover the entire width */
    right: 0; /* Set right to 0 to cover the entire width */
    z-index: 100; /* Add a z-index to ensure it's above other content */
  }
  
  .logo {
    width: 75px;
    height: 56.25px;
  }
  
  .nav-links {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .auth-buttons {
    display: flex;
  }
  
  .auth-button {
    margin-right: 20px;
  }
  
  .auth-button button {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    color: black;
  }