body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

.logo {
    width: 75px;
    height: 56.25px;
}

.nav-links {
    display: flex;
    gap: 32px;
    justify-content: center; /* Updated to center */
    align-items: center;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .auth-buttons {
    display: flex;
}

.auth-button {
    margin-right: 20px;
}

.auth-button button {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.login-button {
    background: white;  
    color: black;
}

.signup-button {
    background: black;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.logo-container img {
    max-width: 100%;
}

.with-icon {
    display: flex;
    align-items: center;
}

.icon {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-left: 5px;
}

.user-actions {
    display: flex;
}

.button {
    margin-right: 10px;
    cursor: pointer;
}

.section {
    padding: 40px 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.section1 {
    background-color: #f0f0f0;
}

.project-details {
    margin-bottom: 20px;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.project-description {
    font-size: 16px;
    color: #555;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #ddd;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
}

.section2 {
    background-color: #fff;
}

.proposal-description {
    margin-bottom: 20px;
    height: 100px;
    width: 300px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.text p {
    margin-bottom: 15px;
    color: #555;
}

.images img {
    width: 100%;
    margin-bottom: 20px;
}

.section3 {
    background-color: #f0f0f0;
}

.comments {
    margin-bottom: 20px;
}

.title,
.subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.comment {
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-avatar img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    color: black;
}

.comment-text {
    font-size: 16px;
    color: #555;
}

.comment-form {
    margin-top: 20px;
}

.rate-proposal,
.add-comment {
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
}

.rating-icons {
    display: flex;
    margin-bottom: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    cursor: pointer;
}

.comment-input textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-comment-button,
.rate-proposal-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section4 {
    background-color: #fff;
}

.progress {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bar {
    background-color: black;
    height: 100%;
    border-radius: 10px;
}

.milestones {
    font-size: 16px;
    color: #555;
    color: black;
}

.form-section {
    height: 1097px;
    padding: 112px 64px;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
    display: flex;
}

.form-title {
    height: 109px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    margin-bottom: 50px;
}

.form-title h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
}

.form-subtitle {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.form-fields {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
}

.form-row {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.form-input-group {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.form-label {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.form-input {
    padding: 12px 0 0 0;
    background: white;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.form-select {
    width: 100%;
    padding: 12px 0 0 0;
    background: white;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.form-select-element {
    width: 200px;
    height: 30px;
}

.form-submit {

    background: black;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.form-submit-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}
