body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  width: 75px;
  height: 56.25px;
}

.nav-links {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.auth-buttons {
  display: flex;
}

.auth-button {
  margin-right: 20px;
}

.auth-button button {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.main-text {
  width: 50%;
}

.main-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: black; /* Added color */
}

.sub-title {
  color: #555;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
}

.action-button button {
  background-color: black; /* Adjusted color */
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.proposal-image {
  max-width: 50%;
  border-radius: 8px;
}

.percentage {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: black; /* Added color */
}

.action-button div {
  margin-bottom: 20px;
}
