body {
    font-family: 'Arial', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

.logo {
    width: 75px;
    height: 56.25px;
}

.nav-links {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.auth-buttons {
    display: flex;
  }
  
  .auth-button {
    margin-right: 20px;
  }
  
  .auth-button button {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.account-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form label {
    margin-bottom: 8px;
    color: #333;
}

.account-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.account-form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.account-form button:hover {
    background-color: #333;
}
