body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  width: 75px;
  height: 56.25px;
}

.nav-links {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.auth-buttons {
  display: flex;
}

.auth-button {
  margin-right: 20px;
}

.auth-button button {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
}

.hero {
  height: 342px;
  padding: 112px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
}

.hero-text {
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.hero-title {
  text-align: center;
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.20px;
}

.hero-subtitle {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.proposal-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.proposal-card {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  background: #F4F4F4;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.proposal-card:hover {
  transform: scale(1.05);
}

.proposal-image {
  align-self: stretch;
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.approval-button {
  width: 104px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin: 10px;
}

.proposal-details {
  align-self: stretch;
  height: 111px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.proposal-name {
  align-self: stretch;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.60px;
  word-wrap: break-word;
  margin-left: 10px;
}

.proposal-summary {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin-left: 10px;
}

.category-tag {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #F4F4F4;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.category-tags {
  display: flex;
}

.more-button {
  width: 104px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
